html,
body {
  height: 100%;
}
@media (max-width: 640px) {
  /* Пример стилей для меньших экранов */
  .container {
    padding-left: 25px; /* Настройте необходимый внутренний отступ */
    padding-right: 25px; /* Настройте необходимый внутренний отступ */
  }
}
h3 {
  text-align: center;
}
